* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font: inherit;
}

.btn {
  background: #d7b899;
  color: #303030;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #d7b899;
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #4ac0fd;
  opacity: 1;
  background: repeating-linear-gradient(
    -45deg,
    #26b5fc,
    #26b5fc 8.5px,
    #4ac0fd 8.5px,
    #4ac0fd 42.5px
  );
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board {
  width: 500px;
  height: 552px;
  background: #e5c29f;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: 128px;
  width: 90px;
  margin: 5px;
  cursor: pointer;
}

.infos {
  background: #d7b899;
  width: 500px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos p {
  color: #303030;
  font-size: 20px;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#modal .btn {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal .messages {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: #303030;
}

#modal-message {
  font-size: 18px;
  margin-top: 5px;
}

#modal-title {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 500px) {
  #board {
    width: 100%;
    height: 100%;
  }

  .card {
    height: 120px;
    width: auto;
  }

  .infos {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .card {
    height: 100px;
    width: auto;
  }
}